.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #9ad7ff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 100s linear infinite;
}

.loadermessage {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #9ad7ff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 100s linear infinite;
    margin-right: -10px;
}
  
@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(15500deg); 
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.loadingmessage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}

.chats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 20%;
    border-right: 0.05px solid gray;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
}

.chatheader {
    background-color: rgb(195, 226, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5%;
    width: 100%;
    margin-bottom: 0;
    /* border-radius: 12px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.chatreply {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.messagepair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.messageuser {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-weight: 400;
    word-wrap: break-word;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(195, 226, 255);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.messagellama {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    word-wrap: break-word;
    font-weight: 300;
    padding: 10px;
    margin-left: 10px;
    margin-right: -10px;
    justify-self: flex-start;
    align-self: flex-end;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgb(228, 242, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.messagellamaerror {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    word-wrap: break-word;
    padding: 10px;
    margin-left: 10px;
    margin-right: -10px;
    justify-self: flex-start;
    align-self: flex-end;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgb(228, 242, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    color: rgb(255, 192, 192);
}

.chatbody {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.chatfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    flex-direction: row;
}

.chatinput {
    background-color: aliceblue;
    height: 45%;
    width: 90%;
    border: 0;
    /* border-radius: 25px; */
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    outline: none;
    /* margin: 25px; */
    /* margin-bottom: 40px; */
    font-size: 17px;
    padding: 5px;
    padding-left: 15px;
    font-family: inherit;
    font-weight: 390;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.chatsend {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
    width: 3.8%;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 17px;
    font-family: inherit;
    font-weight: 390;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 13px;
    cursor: pointer;
    margin-left: -20px;
}

.chatsend:hover {
    border: 0.05px solid rgb(177, 220, 255);
}

.chatinput:hover {
    border: 1px solid rgb(177, 220, 255);
}

.chatinput:focus {
    border: 1px solid rgb(177, 220, 255);
}
