:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --background-color: #F8F9FA;
  --background-alternate-color: #E9ECEF;
  --header-color: #cedff3;
  --border-color: #CED4DA;
  --foreground-color: #E9ECEF;
  --foreground-alternate-color: #DEE2E6;
  --user-message-color: rgb(219, 238, 255);
  --ai-message-color: rgb(239, 248, 255);
  --text-color: black;
  --error-color: rgb(255, 192, 192);
}

[mitra-theme='dark'] {
  --background-color: #212529;
  --background-alternate-color: #343A40;
  --header-color: #343A40;
  --border-color: #DEE2E6;
  --foreground-color: #E9ECEF;
  --foreground-alternate-color: #DEE2E6;
  --user-message-color: #495057;
  --ai-message-color: #6C757D;
  --text-color: white;
  --error-color:rgb(132, 81, 77);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}